@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap'); /* font-family: 'Josefin Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap'); /* font-family: 'IBM Plex Mono', monospace; */

:root {
    --primary: #2D2D2A;
    --secondary: #20FC8F;
}

html {
    width: 700px;
    margin: 0 auto;
    font-family: 'IBM Plex Mono', monospace;
    background-color: var(--primary);
    color: var(--secondary);
}

p, a {
    word-spacing: -0.1em;
    color: #FFFFFF;
    font-size: 0.9em;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "nav nav"
                         "header header"
                         "aside main"
                         "footer footer";
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}

nav {
    grid-area: nav;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 15px;
    height: 10px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    background-color: var(--primary);
    border-bottom: 1px solid var(--secondary);
}

nav a {
    margin-left: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover {
    color: var(--secondary);
}

nav a:last-of-type {
    color: black;
    background-color: #20FC8F;
    padding: 0px 10px 20px 10px;
    border-radius: 10px;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "myname picture"
                         "bio picture";
}

header p {
    margin-top: -1.4em;
}

header img {
    justify-self: flex-end;
    max-width: 50%;
    grid-area: picture;
    border-radius: 50%;
}

.myName {
    grid-area: myname;
}

aside {
    grid-area: aside;
}

aside ul {
    padding: 0;
    width: 100%;
}

aside ul li{
    list-style-type: none;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 0.9em;
    margin-top: 20px;
}

aside ul li:hover::before {
    color: var(--secondary);
    content: "\f058\ ";
    font-family: "Font Awesome 6 Free";
}

main {
    grid-area: main;
}

#about p {
    font-size: 1.2em;
}

.newline {
    margin-top: 5px;
    display: block;
}

footer {
    grid-area: footer;
    text-align: center;
}

footer a i{
    font-size: 2em;
}

.fa-brands:hover {
    transition-duration: 0.5s;
    color: #20FC8F;
}

@media only screen and (max-width: 820px) {
    html {
        width: 90vw;
    }
    h1 {
        font-size: 2rem;
        margin-bottom: 25px;
    }
    h2 {
        font-size: 1.5rem;
    }
    body {
        grid-template-columns: 1fr;
        grid-template-areas: "nav"
                             "header"
                             "main"
                             "aside"
                             "footer";
    }
    header {
        grid-template-columns: 1fr;
        grid-template-areas: "myname"
                             "bio"
                             "picture";
    }
    header img {
        justify-self: center;
        max-width: 20%;
        grid-area: picture;
        border-radius: 50%;
    }
    nav a {
        margin-left: 0;
        margin-right: 10px;
    }
}